.todo {
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 0;
        &-task_name {
            font-weight: 600;
            max-width: 500px;
            white-space: nowrap;
            overflow: visible;
        }
        .task-done {
            color: #6a5af9;
        }
    }
}
.action {
    &-wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}
